    <%- include('header') %>
        <h2>
            Nova Categoria
        <button><a href="/admin/categorias"><b>Categorias</b></a></button>
        </h2>
        <hr>        
        <div>
            <form method="POST">
                <label>Categoria:</label>
                <input type="text" name="categoria" ><br>                
                <button><b>Salvar Categoria</b></button>                
            </form>            
        </div>                
    <%- include('footer') %>
