<html>
    <head>
        <title>Jobify</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="/estilos.css" rel="stylesheet">
        <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
    </head>
    <body>
        <button class="admin"><a href="/admin"><b>Admin</b></a></button>        
        <h1><a href="/"><img src="/images/logo.png" alt="Jobify - by DevPleno"></a></h1>        
        <p>We are Jobify - Join us!</p>
        